{% extends 'base.html.twig' %}

{% block title %}Playing {{ castCode }}{% endblock %}

{#{% block stylesheets %}#}
{#{{ parent() }}#}
{# {{ ansi_css }}#}
{#{% endblock %}#}
{% block body %}
    <a href="{{ path('app_cine', {cineCode: castCode}) }}" target="_blank">
        JSON
    </a>

    IMAGES
    {% set thumb = asset('2025-05-25-09-22-11.png') | imagine_filter('large')  %}
{#    {% set thumb = asset('2025-05-25-09-22-11.png') | imagine_filter_cache('small')  %}#}
    <a href="{{ thumb }}" target="_blank">
{#        <img src="{{thumb }}" />#}
        Thumb
    </a>


    {% set _sc = 'player' %}
    <div class="row" {{ stimulus_controller(_sc, {
        code: castCode,
        url: path('ciine_data', {cineCode: castCode, _format: original ? 'cast': 'txt'})
    }) }}>
        <div class="col-md-8">
            <div>
                <h1 {{ stimulus_target(_sc, 'marker') }}>
                    marker text
                </h1>
                <!-- ... -->
                <div {{ stimulus_target(_sc, 'player') }}>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>{{ markers|default([])|length }} Markers</h3>
            {% for m in markers|default([]) %}
                <li>
                    <a {{ stimulus_action(_sc, 'seek', null, {timestamp: m[0]}) }}>
                       M {{ ux_icon('play') }} @ {{ m[0]|number_format(1) }}
                    </a>

{#                    <pre>#}
{#                    {{ m[1]|ansi_to_html }}</li>#}
{#                    </pre>#}
                    {{ (m[1]|ansi_to_html)|raw }}</li>
            {% endfor %}
            <div class="scrollable-container" data-controller="scrollable">
                <div id="scrollable-content">
                    <!-- Your content here -->
                    <table>
                        <thead>
                        <tr>
                            <th>Running</th>
                            <th>Int</th>
                            <th>Text</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set elapsedTime = 0 %}
                        {% for l in jsonCast.lines %}
                            {% set elapsedTime = elapsedTime + l[0] %}
                            <tr>
                                <td>
                                    {{ elapsedTime|number_format(1) }}
                                </td>
                                <td>
                                    <a title="{{ l[0]|number_format(2) }}" {{ stimulus_action(_sc, 'seek', null, {timestamp: elapsedTime}) }}>

                                        {{ ux_icon('play') }}
                                    </a>
                                </td>
                                <td>{{ l[2]|ansi_to_html }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {#            {{ jsonCast|json_pretty }} #}
                </div>
            </div>

        </div>
    </div>



{% endblock %}
