{# templates/home.html.twig #}
{% extends "base.html.twig" %}

{% block page_pretitle %}Museado Platform{% endblock %}
{% block page_title %}{{ title ?? 'All Components' }}{% endblock %}

{% block body %}

        <h3>{{ components|length }} Components</h3>

        {% set columns = [
            { name: 'id',                 title: 'Package' },
            { name: 'kind',               title: 'Kind' },
            { name: 'description',        title: 'Description' },
            { name: 'minimumStability',   title: 'Stability' },
            { name: 'deprecated',         title: 'Deprecated' },
        ] %}

        <twig:simple_datatables
            :columns="columns"
            :data="components"
            perPage="25"
        >
            <twig:block name="code">
                <a href="{{ path('component_show', row.rp) }}">{{ row.composerName }}</a>
            </twig:block>
            <twig:block name="kind">
                <span class="badge bg-{{ row.kind.value == 'project' ? 'blue' : (row.kind.value == 'symfony-bundle' ? 'green' : 'gray') }}">
                    {{ row.kind ? row.kind.name : '' }}
                </span>
            </twig:block>
        </twig:simple_datatables>

        {% if running %}
            <h3>{{ running|length }} Running Locally</h3>
            <div class="row row-cards mt-3">
                {% for component in running %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-sm">
                            <div class="card-body">
                                <div><a href="{{ component.githubUrl }}" target="_blank">
                                    <twig:ux:icon name="mdi:github" /> {{ component.composerName }}
                                </a></div>
                                <div class="text-secondary">
                                    <a href="https://{{ component.name }}.wip" target="_blank">{{ component.name }}.wip</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

{% endblock %}
