{% extends "@SurvosTabler/layout/base.html.twig" %}

{% block content %}
    {% if block('body') is defined %}
        {{ block('body') }}
    {% endif %}
{% endblock %}

{% set appShortName = 'Showcase' %}
{% block logo_mini %}<b>Showcase</b>{% endblock %}

{% block navbar_end %}
    {{ component('tabler:menu', {type: NAVBAR_END, caller: _self}) }}
{% endblock %}

{% block navbar_search %}
    {{ component('tabler:menu', {type: SEARCH, caller: _self}) }}
{% endblock %}

{% block navbar_menu %}
<header class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="{{ containerClass }}">
                <div class="row flex-column flex-md-row flex-fill align-items-center">
                    <div class="col">
                        {{ component('tabler:menu', {type: NAVBAR_MENU, caller: _self}) }}
                    </div>
                    <div class="col col-md-auto">
                        {{ component('tabler:menu', {type: NAVBAR_MENU_END, caller: _self}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block sidebar %}
<aside class="navbar navbar-vertical navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sidebar-menu">
            {{ component('tabler:menu', {type: SIDEBAR, caller: _self}) }}
        </div>
    </div>
</aside>
{% endblock %}

{% block page_actions %}
    {{ component('tabler:menu', {type: PAGE_ACTIONS, caller: _self}) }}
{% endblock %}
