{% extends "base.html.twig" %}

{% block body %}

    <h1>{{ component.name }}</h1>

    {{ component.liveUrl ?? '' }}

    {% for owner, req in component.requireByOwner %}
        <ul>
            <li>
                {{ owner }}/
                <ul>
                    {% for r in req %}
                        <li>{{ r.display }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}

    <h2>PWA</h2>
    {{ component.pwaYaml|json_pretty }}

    <h2>composer.json</h2>
    {{ component.composerJson|json_pretty }}

{% endblock %}
