{% extends "base.html.twig" %}

{% block body %}

    <h1>{{ project.name }}</h1>

    {{ project.liveUrl }}


    {% for owner, req in project.requireByOwner %}
        <ul>
            <li>
                {{ owner }}/
                <ul>
                {% for r in req %}
                <li>
                    {{ r.display }}
                    {#  description would be really cool here!  Link to repo? #}
{#                    {{ r.package }}#}
                </li>
            {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}

    <h2>PWA</h2>
    {{ project.pwaYaml|json_pretty }}

    <h2>AppJson</h2>
    {{ project.appJson|json_pretty }}
{% endblock %}
