<div class="card h-100 shadow-sm">
    {# Header #}
    <div class="card-header fw-bold text-truncate" title="{{ hit.title }}">
        {{ hit._highlightResult.title.value|raw }}
    </div>

    {# Body #}
    <div class="card-body small">

        {{ hit.author }}

        {# ---------- Videos (show up to 3) ---------- #}

        {# ---------- Description ---------- #}
        {% if hit.description %}
            {{ hit._highlightResult.description.value|raw }}
{#            <div class="description-clamp mb-3">#}
{#            </div>#}
        {% endif %}

        {# ---------- Writers (array or string, skip empties) ---------- #}
        {# ---------- Year (hide 0/empty) ---------- #}
        {% set yearVal = hit.year|default(null) %}
        {% if yearVal == 0 %}{% set yearVal = null %}{% endif %}

        </div>

    {# Footer #}
    <div class="card-footer d-flex justify-content-between align-items-center small">
    <span class="text-muted">
      {{ hit._highlightResult.type.value|default(hit.type) }}
        {% if hit._rankingScore != 1 %}
            • score: {{ hit._rankingScore|number_format(2) }}
        {% endif %}
    </span>

        <a href="{{ hit.castUrl }}" target="_blank">
            AsciiCast.org
        </a>
        <button
            class="btn btn-sm btn-outline-primary"
            data-action="survos--meili-bundle--json#modal"
            data-hit-id="{{ hit.id }}"
        >
            <span class="me-1 icon-wrapper">{{ icons.json|raw }}</span> JSON
        </button>
    </div>
</div>
